.wrapper {
    .nav {
        .breadcrumb {
            list-style: none;
            display: flex;

            .item-header {
                padding-right: 6px;
            }
        }
    }
}

.link.link-next {
    padding-left: 4px;
    color: #6c757d;

    &:hover {
        color: #6c757d;
        cursor: text;
    }
}
