.wrapper {
    button {
        margin-right: 6px;

        svg {
            display: inline-block;
            margin-bottom: 4px;
        }

        span {
            margin-left: 4px;
        }
    }
}
