.wrapper {
    height: 70px;

    &.active {
        margin-left: 250px;
    }
}

.header-nav {
    height: 78%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dee2e6;

    .nav-left {
        display: flex;
        align-items: center;

        .icon-menu {
            padding: 0 20px;
            height: 34px;
            color: var(--gray);
            cursor: pointer;
            transition: all 0.2s;

            &:hover {
                color: var(--back);
            }

            svg {
                font-size: 1.6rem;
                display: inline-block;
                margin-top: 8px;
            }
        }

        .title {
            a {
                margin-right: 20px;
                padding: 14px 0;
                cursor: pointer;
                color: var(--gray);
                transition: all 0.2s;

                &:hover {
                    color: var(--back);
                }
            }
        }

        .input {
            background-color: #f2f4f6;
            border-radius: 4px;
            padding: 2px 0;
            padding-right: 4px;

            input {
                background-color: #f2f4f6;
                border: none;
                font-size: 1.4rem;

                &:focus {
                    background-color: #dee2e6;
                }
            }

            button {
                padding: 0 8px;
                margin-right: 0;

                &:hover {
                    svg {
                        color: #333;
                    }
                }

                svg {
                    display: inline-block;
                    margin-top: 5px;
                    margin-bottom: 0;
                    color: #888;
                    transition: all 0.4s;
                }
            }
        }
    }

    .profile {
        margin-right: 20px;
        .avt {
            background: url('../../../assets/image/avt-admin.jpg') center center no-repeat;
            box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
            background-size: cover;
            width: 36px;
            height: 36px;
            margin-right: 20px;
            border-radius: 50%;
            cursor: pointer;
        }

        .menu-dropdown {
            width: 280px;
            left: 30px !important;
            font-size: 1.5rem;
            font-weight: 400;
            padding: 0;

            button {
                display: flex;
                align-items: center;

                .icon-drop {
                    font-size: 1.6rem;
                    color: #666;
                }

                span {
                    margin-left: 12px;
                    font-weight: 400;
                    color: #616467;
                    font-size: 1.6rem;
                }
            }
        }
    }
}
