@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-track {
    background: #828283;
}

::-webkit-scrollbar-thumb {
    background-color: #526170;
    border-radius: 10px;
}

:root {
    --black: #000;
    --white: #fff;
    --success: #28a745;
    --primary: #007bff;
    --danger: #dc3545;
    --gray: rgba(0, 0, 0, 0.5);
    --yellow: #ffc107;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    overflow-y: overlay;
}

a,
a:hover {
    text-decoration: none;
}

button:focus {
    outline: none;
    border: none;
}

ul {
    padding-left: 0;
    list-style: none;
}

label {
    font-weight: 700;
}

pre::-webkit-scrollbar {
    height: 5px;
    cursor: pointer;
}

.badge,
small {
    font-size: 1.1rem;
    font-weight: 600;
}

.form-control {
    height: 38px;
    font-size: 1.6rem;
    padding: 6px 12px;
    border-radius: 4px;
}

.btn {
    font-size: 1.6rem;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.btn:focus {
    outline: none;
    border: none;
}

.btn-sm {
    padding: 6px 10px;
    font-size: 1.3rem;
    border-radius: 4px;
    cursor: pointer;
}

.btn-sm svg {
    margin-bottom: 0;
}

.btn-sm:focus {
    outline: none;
    border: none;
}

.btn-default {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}

.btn-default:hover {
    background-color: #e7e7e7;
}

.page-link {
    padding: 8px 12px;
}

.table td,
.table th {
    padding: 12px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table th label {
    padding: 4px 5px;
}

.nav-link {
    padding: 8px 16px;
}

.card-header {
    padding: 12px 20px;
    background-color: white;
}

.card-body {
    padding: 0;
}

.card-footer {
    padding: 12px 20px;
    border: none;
}

.card-title {
    margin-bottom: 0;
    display: inline-block;
}

.modal-header {
    align-items: center;
    padding: 16px;
}

.modal-header button.close {
    font-size: 2rem;
    padding: 4px 10px;
    margin-right: 4px;
}

.modal-body,
.modal-footer {
    padding: 16px;
}

.card-tools {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
}

.bootstrap-tagsinput {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    display: inline-block;
    padding: 4px 6px;
    color: #555;
    vertical-align: middle;
    border-radius: 4px;
    max-width: 100%;
    line-height: 22px;
    cursor: text;
}

.bootstrap-tagsinput input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0 6px;
    margin: 0;
    width: auto;
    max-width: inherit;
}

.rc-md-editor {
    border: none;
}

.rc-md-navigation {
    border-bottom: none;
}

/* Đây */
.wrapper-global {
    background: #f4f6f9;
    min-height: 920px;
}

.header-global {
    padding: 20px 10px;
    height: 100px;
}

.content-global {
    padding: 10px 12px;
}

.content-global table {
    width: 100%;
}

.content-global button svg {
    display: inline-block;
}

.content-global button span {
    margin-left: 4px;
    font-weight: 500;
}

.remove-input {
    display: inline-block;
    margin-top: 6px;
}

.home-box {
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    border-radius: 4px;
    padding: 6px;
    min-height: 80px;
    background: #fff;
    display: flex;
    margin-bottom: 14px;
}

.home-box-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    border-radius: 4px;
    width: 70px;
    font-size: 3.2rem;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

.home-box-content {
    padding: 5px 10px;
    flex: 1;
}

.home-box-text {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.5rem;
    font-weight: 600;
}

.home-box-number {
    display: block;
    font-weight: 700;
    margin-top: 4px;
}

body .accordion-button {
    font-size: 1.4rem;
}

@media (max-width: 1400px) {
    body .App {
        display: none;
    }
}
